* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
}

#btn1 {
    border: none;
    outline: none;
    padding: 10px 5px;
    background: teal;
    border-radius: 10px;
    color: white;
}

div{
    width: 400px;
    height: 400px;
    border: 4px solid black;
}

.container {
    width: 500px;
    height: 500px;
    background: teal;
}

