* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#btn1 {
    border: none;
    outline: none;
    padding: 10px 5px;
    background: teal;
    border-radius: 10px;
    color: white;
}

div{
    width: 400px;
    height: 400px;
    border: 4px solid black;
}