* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'Noto Sans TC', sans-serif;
    color: #2c2c34;
    font-size: 18px;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #6697a5, #d3eef9);
}
body header {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px 30px;
    background: #fafafa;
    z-index: 10;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
}

body header a {
    text-decoration: none;
}

body header a h2{
    font-size: 2rem;
    color: #2c2c34;
}

body header a span {
    font-size: 2rem;
    color: #33707d;
}

body header nav .navigation {
    display: flex;
    gap:20px;
    font-size: 1.1rem;
}

body header nav .navigation li {
    list-style: none;
}

body header nav .navigation li a {
    text-decoration: none;
    color: #2c2c34;
}

.indexBox {
    width: 92%;
    min-height: 100%;
    height: max-content;
    background: #fafafa;
    margin: 40px 0px;
    border-radius: 30px;
    display: flex;
}

/* Main Box */

.indexBox .mainContentBox {
    width: 75%;
    padding: 30px;
    
}

.indexBox .mainContentBox .mainContent .contentTitle {
    font-size: 2.3rem;
}



.indexBox .mainContentBox .mainContent .titleImg {
    width: 80%;
    height: 80%;
    border-radius: 20px;
    margin: 50px 0px;
    
}

.indexBox .mainContentBox .mainContent .contentText {
    line-height: 2.5rem;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1.2px;
}

.indexBox .mainContentBox .mainContent .contentText .important {
    font-weight: bold;
    color:#3d8292;
}

.indexBox .mainContentBox .mainContent .contentText .code {
    background: #e2e2e2;
    padding: 3px 5px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.indexBox .mainContentBox .mainContent .contentText code {
    display: block;
    background: #e2e2e2;
    white-space: pre-line;
    padding:  0px 30px 30px 30px;
    line-height: 2rem;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.indexBox .mainContentBox .mainContent .contentText a {
    text-decoration: none;
    color: #33707d;
    font-weight: bold;
    transition: 0.3s;
}
.indexBox .mainContentBox .mainContent .contentText a:hover {
    color: #6697a5;
}
/* Secondary Box */


.indexBox .secondaryContentBox {
    width: 25%;
    padding: 30px;
    margin: 30px 0px;
}

.indexBox .secondaryContentBox .newPostBox,
.indexBox .secondaryContentBox .recommendBox,
.indexBox .secondaryContentBox .sortBox {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.indexBox .secondaryContentBox h4 {
    font-size: 1.4rem;
    padding: 10px 0px;
    margin-bottom: 10px;
    color: #33707d;
}

.indexBox .secondaryContentBox .newPostBox .newPost a {
    text-decoration: none;
    color: #2c2c34;
}

.indexBox .secondaryContentBox .newPostBox .newPost a:hover h5{
    color: #33707d;
}

.indexBox .secondaryContentBox .newPostBox .newPost h5{
    text-decoration: none;
    color: #2c2c34;
    font-size: 1rem;
    transition: .3s;
}
.indexBox .secondaryContentBox .newPostBox .newPost img {
    width: 90%;
    height: 100%;
    object-fit: contain;
    border-radius: 20px;
    padding: 10px;
}
.indexBox .secondaryContentBox .newPostBox .newPost {
    font-size: 0.7rem;

}

@media(max-width:1000px) {
    .indexBox {
        flex-direction: column;
    }

    .indexBox .mainContentBox {
        width: 100%;
        border-bottom: 1px solid rgb(216, 216, 216);
    }

    .indexBox .mainContentBox .mainContent a {
        flex-direction: column;
    }

    .indexBox .mainContentBox .mainContent a img {
        width: 100%;
    }
    
    .indexBox .secondaryContentBox {
        width: 100%;
    }
}

@media(max-width:450px) {
    * {
        font-size: 16px;
    }

    body header a h2 {
        font-size: 1.5rem;
    }

    .indexBox .mainContentBox .mainContent .contentTitle {
        font-size: 1.8rem;
    }
    
    .indexBox .mainContentBox .mainContent .titleImg {
        width: 100%;
    }

    
}