* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    min-height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #6697a5, #d3eef9);
}

body header {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background: white;
}

body header .logo {
    font-size: 1.4rem;
    text-decoration: none;
    color: black;
}

body header .logo span {
    color: #33707d;
}

body header nav .navigation {
    display: flex;
    gap:20px;
    font-size: 1.1rem;
}

body header nav .navigation li {
    list-style: none;
}

body header nav .navigation li a {
    text-decoration: none;
    color: black;
    transition: 0.3s;
}
body header nav .navigation li a:hover {
    color: #469db0;
   
}

.indexBox {
    width: 92%;
    min-height: 100%;
    height: max-content;
    background: #fff;
    margin: 40px 0px;
    border-radius: 30px;
    display: flex;
    
}

.indexBox .mainContentBox {
    width: 72%;
    padding: 30px;
    margin-right: 20px;
    letter-spacing: 1.2px;
}

.indexBox .mainContentBox .mainContent a{
    display: flex;
    gap: 30px;
    border-bottom: 1px solid rgb(216, 216, 216);
    padding-bottom: 30px;
    margin-top: 30px;
    text-decoration: none;
    color: black;
}

.indexBox .mainContentBox .mainContent a .contentTitle {
    font-size: 1.5rem;
    font-weight: bolder;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.indexBox .mainContentBox .mainContent a:hover .contentTitle {
    color: #33707d;
}

.indexBox .mainContentBox .mainContent a img {
    width: 37%;
    height: 100%;
    object-fit: contain;
    border-radius: 20px;
}

.indexBox .mainContentBox .mainContent a .contentText {
    font-size: 0.9rem;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    white-space: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 2;
    padding-top: 15px;
}

.indexBox .mainContentBox .mainContent a .date {
    color: #777;
    letter-spacing: 1px;
    margin-top: 20px;
}

.indexBox .secondaryContentBox {
    width: 27%;
    margin: 30px 0px;
    padding: 30px;
    
}

.indexBox .secondaryContentBox .newPostBox {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.indexBox .secondaryContentBox .newPostBox a {
    text-decoration: none;
    color: black;
}

.indexBox .secondaryContentBox h4 {
    font-size: 1.3rem;
    padding: 10px 0px;
    margin-bottom: 5px;
    color: #33707d
}

.indexBox .secondaryContentBox .newPostBox .newPost h5 {
    font-size: 0.9rem;
}
.indexBox .secondaryContentBox .newPostBox .newPost img {
    width: 90%;
    height: 100%;
    object-fit: contain;
    border-radius: 20px;
    padding: 10px;
}
.indexBox .secondaryContentBox .newPostBox .newPost {
    font-size: 0.7rem;

}


@media(max-width:1000px) {
    .indexBox {
        flex-direction: column;
    }

    .indexBox .mainContentBox {
        width: 100%;
    }

    .indexBox .mainContentBox .mainContent a {
        flex-direction: column;
    }

    .indexBox .mainContentBox .mainContent a img {
        width: 100%;
    }
    
    .indexBox .secondaryContentBox {
        width: 100%;
    }
}