* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #6697a5, #d3eef9);
}

body header {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background: white;
}

body header .logo {
    font-size: 1.4rem;
    text-decoration: none;
    color: black;
}

body header nav .navigation {
    display: flex;
    gap:20px;
    font-size: 1.1rem;
}

body header nav .navigation li {
    list-style: none;
}

body header nav .navigation li a {
    text-decoration: none;
    color: black
}

.indexBox {
    width: 92%;
    height: 100%;
    background: #fff;
    margin-top: 40px;
    border-radius: 30px;
    display: flex;
}

.indexBox .mainContentBox {
    width: 70%;
    padding: 30px;
}

.indexBox .mainContentBox .mainContent {
    display: flex;
    gap: 30px;
    border-bottom: 1px solid rgb(216, 216, 216);
    padding-bottom: 30px;
}

.indexBox .mainContentBox .mainContent img {
    width: 40%;
    height: 100%;
    object-fit: contain;
    border-radius: 20px;
}

.indexBox .mainContentBox .mainContent .contentTitle a{
    font-size: 1.8rem;
    font-weight: bolder;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.indexBox .mainContentBox .mainContent .contentTitle a:hover {
    color: #6697a5;
}

.indexBox .mainContentBox .mainContent .contentText {
    font-size: 1rem;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    white-space: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-height: 2;
    padding-top: 15px;
}

.indexBox .mainContentBox .mainContent .date {
    color: #777;
    letter-spacing: 1px;
    margin-top: 20px;
}

.indexBox .secondaryContentBox {
    width: 30%;
    padding: 30px;
}

.indexBox .secondaryContentBox .newPostBox {
    display: flex;
    flex-direction: column;
}

.indexBox .secondaryContentBox .newPostBox h4 {
    padding: 10px 0px;
    color: #33707d
}

.indexBox .secondaryContentBox .newPostBox .newPost h5 a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
}
.indexBox .secondaryContentBox .newPostBox .newPost img {
    width: 90%;
    height: 100%;
    object-fit: contain;
    border-radius: 20px;
    padding: 10px;
}
.indexBox .secondaryContentBox .newPostBox .newPost {
    font-size: 0.7rem;

}
