* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    color: #2c2c34;
}

body {
    width: 100%;
    min-height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #6697a5, #d3eef9);
    font-family: 'Montserrat', 'Noto Sans TC', sans-serif;
}

body header {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background: #fafafa;
    z-index: 100;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
}

body .header .logo {
    font-size: 1.2rem;
    text-decoration: none;
    color: #2c2c34;
}

body header .logo span {
    color: #33707d;
}

body header nav .navigation {
    display: flex;
    gap:20px;
    font-size: 1.1rem;
}

body header nav .navigation li {
    list-style: none;
}

body header nav .navigation li a {
    text-decoration: none;
    color: #2c2c34;
    transition: 0.3s;
}
body header nav .navigation li a:hover {
    color: #469db0;
   
}

.resumeBox {
    width: 70%;
    height: fit-content;
    position: relative;
    margin-top: 5vh;
    margin-bottom: 80vh;
    perspective: 20000px
}

.resumeBox #resume1 {
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
    transform:  rotateY(0deg);
    transition: transform 0.7s linear ;
    border-radius: 10px;
    box-shadow: 0 0 50px 1px #4a6e7780;
}
.resumeBox:hover #resume1 {
    transform:  rotateY(180deg);
}
.resumeBox #resume2 {
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
    transform:  rotateY(180deg);
    transition: transform 0.7s linear;
    border-radius: 10px;
    box-shadow: 0 0 50px 1px #4a6e7780;
}
.resumeBox:hover #resume2 {
    transform:  rotateY(360deg);
}


.indexBox {
    width: 92%;
    min-height: 100%;
    height: max-content;
    background: #fafafa;
    margin: 40px 0px;
    border-radius: 30px;
    display: flex;   
}

.indexBox .mainContentBox {
    width: 75%;
    padding: 30px;
    margin-right: 20px;
    letter-spacing: 0.5px;
}

.indexBox .mainContentBox .mainContent{
    transition: 0.3s;
}
.indexBox .mainContentBox .mainContent:hover {
    transform: translateY(-2px);
    z-index: -1;
}

.indexBox .mainContentBox .mainContent a{
    display: flex;
    gap: 30px;
    border-bottom: 1px solid rgb(216, 216, 216);
    padding-bottom: 30px;
    margin-top: 30px;
    text-decoration: none;
    color: #2c2c34;
}

.indexBox .mainContentBox .mainContent a .contentTitle {
    font-size: 1.4rem;
    font-weight: bolder;
    text-decoration: none;
    color: #2c2c34;
    transition: 0.3s;
}

.indexBox .mainContentBox .mainContent:hover a .contentTitle {
    color: #33707d;
}

.indexBox .mainContentBox .mainContent a img {
    width: 37%;
    height: 100%;
    object-fit: contain;
    border-radius: 20px;
}

.indexBox .mainContentBox .mainContent a .hashtag {
    background: #6697a5;
    color: #fafafa;
    border-radius: 10px;
    padding: 3px 7px;;
    font-size: 0.7rem;
    margin-top: 10px;
    max-width: fit-content;
    transition: 0.3s;
    z-index: 2;
}

.indexBox .mainContentBox .mainContent a .hashtag:hover {
    background: #469db0;
}

.indexBox .mainContentBox .mainContent a .contentText {
    font-size: 0.9rem;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    white-space: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 2;
    padding-top: 10px;
}



.indexBox .mainContentBox .mainContent a .date {
    color: #777;
    letter-spacing: 1px;
    margin-top: 20px;
}

.indexBox .secondaryContentBox {
    width: 25%;
    margin: 30px 0px;
    padding: 30px;
    
}

.indexBox .secondaryContentBox .newPostBox,
.indexBox .secondaryContentBox .recommendBox,
.indexBox .secondaryContentBox .sortBox {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.indexBox .secondaryContentBox .newPostBox a,
.indexBox .secondaryContentBox .recommendBox a {
    text-decoration: none;
    color: #2c2c34;
}

.indexBox .secondaryContentBox h4 {
    font-size: 1.4rem;
    padding: 10px 0px;
    margin-bottom: 5px;
    color: #33707d
}

.indexBox .secondaryContentBox .newPostBox .newPost a:hover h5,
.indexBox .secondaryContentBox .recommendBox .newPost a:hover h5{
    color: #33707d;
}

.indexBox .secondaryContentBox .newPostBox .newPost h5,
.indexBox .secondaryContentBox .recommendBox .newPost h5 {
    font-size: 0.8rem;
    transition: 0.3s;
}
.indexBox .secondaryContentBox .newPostBox .newPost img,
.indexBox .secondaryContentBox .recommendBox .newPost img {
    width: 90%;
    height: 100%;
    object-fit: contain;
    border-radius: 20px;
    padding: 10px;
}
.indexBox .secondaryContentBox .newPostBox .newPost,
.indexBox .secondaryContentBox .recommendBox .newPost {
    font-size: 0.7rem;

}

.indexBox .secondaryContentBox .sortBox {
    display: flex;
    flex-direction: column;
}

.indexBox .secondaryContentBox .sortBox .sortText {
    display: flex;
    align-items: center;
    gap:10px;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
}
.indexBox .secondaryContentBox .sortBox .sortText:hover {
    color: #6697a5;
    transform: translateY(-2px);
}

.indexBox .secondaryContentBox .sortBox .sortText .postNum {
    font-size: 0.9rem;
    letter-spacing: 2px;
    transition: 0.3s;
}
.indexBox .secondaryContentBox .sortBox .sortText:hover .postNum {
    color: #6697a5;
    
}

.indexBox .secondaryContentBox .sortBox .sortText .sortArrow {
    border-left: 1px solid #2c2c34;
    border-bottom: 1px solid #2c2c34;
    transform: rotate(-135deg);
    width: 8px;
    height: 8px;
    transition: 0.3s;
}
.indexBox .secondaryContentBox .sortBox .sortText:hover .sortArrow {
    border-left: 1px solid #6697a5;
    border-bottom: 1px solid #6697a5;
}



@media(max-width:1000px) {
    .resumeBox {
        margin-bottom: 25vh;
    }

    .indexBox {
        flex-direction: column;
    }

    .indexBox .mainContentBox {
        width: 100%;
    }

    .indexBox .mainContentBox .mainContent a {
        flex-direction: column;
    }

    .indexBox .mainContentBox .mainContent a img {
        width: 100%;
    }
    
    .indexBox .secondaryContentBox {
        width: 100%;
    }
}