* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 22px;
}

:root {
    --background_color: #2c2c34;
    --text_color: #f7f7ff;
    --text_hover_color: #87b5c1;
}

a {
    text-decoration:  none;
    color: var(--text_color);
}

li {
    list-style: none;
}

body {
    width: 100%;
    min-height: 200vh;
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', 'Noto Sans TC', sans-serif;
    font-family: 'Cormorant Garamond','Noto Sans TC', serif;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px;
    z-index: 400;
    background: rgba(0,0,0,0.8);
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.1);
}

header .logo {
    color: var(--text_color);
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    font-family: 'Cormorant Garamond', serif;
}

header ul {
    display: flex;
    gap:30px
}

header ul li a {
    letter-spacing: 1px;
    font-size: 1.4rem;
    font-weight: 500;
    transition: 0.3s;
}

header ul li a:hover {
    color: var(--text_hover_color);
}

.banner {
    width: 100%;
    min-height: 100vh;
    background-image: url(banner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: grid;
    place-content: center;
    overflow-x: hidden;
}

.banner .idea {
    width: 100vw;
    min-height: 100vh;
    color: var(--text_color);
    font-size: 2.3rem;
    font-weight: 500;
    font-style: italic;
    line-height: 3rem;
    text-align: center;
    letter-spacing: 0.5px;
    display: grid;
    place-content: center;
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    text-shadow: 5px 5px 10px rgba(0,0,0,0.1);
    font-family: 'Cormorant Garamond', serif;
}

.banner .idea span {
    font-size: 1.3rem;
}