:root {
    --background_color: inear-gradient(to bottom, #201f1f, #362d04);
    --text-background-color: #2a2929;
    --text-background-color-opacity: #2a292979;
    --text_color: #f7f7f7;
    --text_second_color: #fed54e;
    --text_hover_color: #d5b340; 
}