* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #8e8ccd, #54506d);
}

section {
    margin: 40px;
    padding: 40px;
    position: relative;
    display: flex;
    background: #fff;
    border-radius: 20px;
}

section .productBox {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    padding-right: 45px;
}
section .productBox h2 {
    margin-bottom: 45px;
    font-size: 1.5rem;
    font-weight: 600;
}

section .productBox .line {
    width: 100%;
    height: 1.5px;
    background: gray;
    margin-bottom: 20px;
}
section .productBox .product {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
}

section .productBox .product img {
    width: 9%;
    border-radius: 20px;
    object-fit: contain;
}

section .productBox .product .num {
    display: flex;
    gap: 30px;
}

section .productBox .dollor {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
}

section .creditCardBox {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #c3c3e2;
    border-radius: 20px;
}

section .creditCardBox form {
    width: 75%;
}

section .creditCardBox .inputBox {
    margin-bottom: 20px;
}

section .creditCardBox .inputBox span {
    display: block;
    font-size: 0.75rem;
    color: #fff;
    margin-bottom: 2px;
    white-space: nowrap;
}

section .creditCardBox .inputBox input,
section .creditCardBox .inputBox select {
    outline: none;
    width: 100%;
    padding: 5px 20px;
    border-radius: 40px;
    border: 1px solid #545871;
    font-size: 0.75rem;
    transition: 0.3s;
}

section .creditCardBox .inputBox input:focus,
section .creditCardBox .inputBox select:focus {
    background: #b8b7e4;
}


section .creditCardBox .flexbox {
    display: flex;
    gap: 10px;
}

section .creditCardBox .flexbox .inputBox {
    flex: 1 1 150px;
}

section .creditCardBox .checkoutBox {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

section .creditCardBox .submitBtn {
    margin-top: 10px;
    width: 30%;
    outline: none;
    border: 1px solid gray;
    background: #fff;
    padding: 10px;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.3s;
    letter-spacing: 0.8px
}

section .creditCardBox .submitBtn:hover {
    background: #b8b7e4;
    color: white;
}

section .creditCardBox .cardBox {
    margin-bottom: 15px;
    position: relative;
    width: 330px;
    height: 220px;
    text-transform: uppercase;
}

section .creditCardBox .cardBox .front {
    background: #8e8ccd;
    padding: 30px 25px 20px 25px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    backface-visibility: hidden;
    transform: perspective(500px) rotate(0deg);
    transition: transform 0.4s ease-out ;
}

section .creditCardBox .cardBox .front .image{
    display: flex;
    align-self: center;
    justify-content: space-between;
}

section .creditCardBox .cardBox .front .image img {
    height: 40px;
}

section .creditCardBox .cardBox .front .cardNumberBox {
    padding: 30px 0 20px 0;
    color: #fff;
    font-size: 0.8rem;
    text-shadow: 0 0 2px rgba(0,0,0,0.2);
}

section .creditCardBox .cardBox .front .flexbox {
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 0.7rem;
    line-height: 1.2rem;
    text-shadow: 0 0 2px rgba(0,0,0,0.2);
}

section .creditCardBox .cardBox .back {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: #8e8ccd;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 25px 0;
    text-align: right;
    backface-visibility: hidden;
    transform: perspective(500px) rotateY(180deg);
    transition: transform 0.4s ease-out ;
}

section .creditCardBox .cardBox .back .stripe {
    background: black;
    width: 100%;
    margin: 10px 0;
    height: 30px;
}

section .creditCardBox .cardBox .back .box {
    padding: 0 20px;
}

section .creditCardBox .cardBox .back .box span {
    color: #4f5d50;
    font-size: 0.75rem;
}

section .creditCardBox .cardBox .back .box .cvvBox {
    height: 30px;
    padding: 10px;
    margin-top: 5px;
    color: #4f5d50;
    background: #fff;
    border-radius: 5px;
    width: 100%;
    font-size: 0.75rem;
}

section .creditCardBox .cardBox .back .box img {
    height: 30px;
    margin-top: 25px;
}

@media(max-width:1100px) {
    section {
        flex-direction: column;
    }

    section .productBox {
        width: 100%;
        padding-right: 0;
    }

    section .creditCardBox {
        width: 100%;
        padding: 20px 0px;
        margin-top: 100px;
    }
    
}

@media(max-width:500px) {
    * {
        font-size: 0.9rem;
    }

    section {
        margin: 15px;
        padding: 10px;
    }

    section .creditCardBox .inputBox input,
    section .creditCardBox .inputBox select {
        padding: 5px 5px;
    }

    section .creditCardBox .cardBox {
        width: 280px;
        height: 180px;
        margin-bottom: 50px;
    }
}