* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    position: absolute;
    right: 0;
    width:100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 0.5s;
}

section header {
    position: absolute;
    top: 0;
    left: 50%;
    width: 90%;
    padding: 20px 80px ;
    margin: 20px 0;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    font-size: large;
    letter-spacing: 4px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    transform: translateX(-50%);
}


section header .logo {
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
}

section header .logo span {
    color: #f5d0cf;
}

section header .logo.active {
    color: #f5d0cf;
}

section header .nav ul{
    display: flex;
    gap: 20px;
}

section header .nav ul li {
    list-style: none;
}

section header .nav ul li a {
    font-size: 1rem;
    text-decoration: none;
    color:rgb(255, 255, 255);
    transition: 0.3s;
}

section header .nav ul li a:hover {
    color: #f5d0cf
}

section video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:  #d1a5a3;
    mix-blend-mode: soft-light;
}

section .text {
    position: relative;
}

section .text h2 {
    font-size: 3.5rem;
    color: rgb(255, 255, 255);;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.4);
    letter-spacing: 3px;
    font-family: 'Indie Flower', cursive;
   
}

section .text h3 {
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 4px rgba(0,0,0,0.4);
    letter-spacing: 3px;
    padding-bottom: 20px;
    font-family: 'Indie Flower', cursive;
    
}

section .text p {
    position: relative;
    font-size: 1.1rem;
    font-weight: 500;
    max-width: 600px;
    color: rgb(255, 255, 255);
    padding-bottom: 50px;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.4);
    line-height: 1.5;
    font-family: 'Indie Flower', cursive;
    letter-spacing: 0.8px;
}

section .text a {
    font-size: 0.8rem;
    background: #c37e7b;
    padding: 8px 30px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 20px;
    color: white;
    letter-spacing: 2px;
    transition: 0.3s;
}

section .text a:hover {
    background: #FAECEB ;
    color: #313136;
}

section .sci {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

section .sci li {
    list-style: none;
}

section .sci li a {
    color: white;
    font-size: 1.3rem;
    transition: 0.3s;
}

section .sci li a:hover {
    color: #f5d0cf;
}

section header .toggle {
    display: none;
    position: relative;
    right: -20px;
    top: 5px;
    font-size: 2rem;
    color: white;
    z-index: 3;
}

.menu {
    display: flex;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 2;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    opacity: 0;
}

.menu.active{
    visibility: visible;
    opacity: 1;
    transition:0.5s;
}

.menu ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu ul li {
    list-style: none;
}

.menu ul li a {
    font-size: 1rem;
    text-decoration: none;
    color:#c37e7b;
    transition: 0.3s;
}
.menu ul li a:hover {
    color: #f5d0cf
}

@media (max-width: 991px) {
    
    section header .toggle{
        display: block;
        
    }

    section header .toggle.active {
        color:#c37e7b;
        z-index: 1000;
    }

    section header .nav {
        display: none;
    }
}

@media (max-width: 600px) {
    section {
        padding: 100px 40px;
    }

    section header {
        padding: 20px 20px;
    }

    section header .logo {
        font-size: 1.5rem
    }

    section header .toggle {
        font-size: 1.8rem;
        right: 0px;
    }

    section .text h2 {
        margin: 80px 0 50px 0;
        font-size: 2.5rem;
        line-height: 1.25em;
    }
    
    section video {
        width: 125%;
        left: -100px;
    }

    
}

