* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: max-content;
    display: flex;
    place-content: center;
    width: 100%;
    background: linear-gradient(135deg, #e0ad98, #7e8da4);
    color: #333;
}

section {
    width: 80%;
    display: flex;
    margin: 50px;
    border-radius: 20px;
    overflow: hidden;
    background: white;
}

.menu {
    width: 25%;
    padding: 10px 0 0 0
}

.menu ul li {
    list-style: none;
}

.menu ul li a {
    color: #333;
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 15px;
    font-size: 1.2rem;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 15px 10px;
    transition: .3s;
}

.menu ul li a:hover {
    color: #e0ad98;
}

.menu ul li a.active {
    color: #e0ad98;
}

.profileBox {
    width: 75%;
    border-left: 1px solid rgba(0,0,0,0.1);
    position: relative;
}

.profileBox .backgroundImgBox {
    width: 100%;
    height: 25vh;
    object-fit: cover;
    background: #333;

}

.profileBox .backgroundImgBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.profileBox .shotBox {
    width: 125px;
    height: 125px;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    top: -90px;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.profileBox .shotBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid white;
}

.profileBox .shotBox h2 {
    color: #333;
}

.profileBox .setting {
    position: absolute;
    right: 15px;
    top: calc(25vh + 15px);
    font-size: 1.2rem;
    color: #333;
    transition: 0.3s;
}

.profileBox .setting:hover {
    color:#ad7c67;
}

.profileBox .followBox {
    width: 100%;
    display: grid;
    grid-template-columns:auto auto auto ;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    justify-content: center;
    margin-top: -40px;
}

.profileBox .followBox div {
    text-align: center;
    margin: 0px 50px;
    padding-bottom: 10px;
    width: 100px;
    font-size: 0.8rem;
}

.profileBox .yourPost .post {
    padding: 40px 20px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    font-size: 0.9rem;
    display: flex;
}

.profileBox .yourPost .post .shot {
    width: 8%;
    padding-right: 15px;
}

.profileBox .yourPost .post .shot img {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profileBox .yourPost .post .text h3 span {
    font-weight: 100;
    font-size: 0.7rem;
    margin-left: 20px;
}


.profileBox .yourPost .post .text {
    width: 100%;
}

.profileBox .yourPost .post .text img {
    padding-top: 30px;
    width: 400px;
    object-fit: cover;
}