* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    background: linear-gradient(to right, #8fb881, #d6d9c5);
}

section {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
}

section .productBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
   
}

section .productBox .imgBox {
    padding: 20px;
    width: 100%;
    height: 60vh;
    
}

section .productBox .imgBox img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

section .productBox .content {
    padding: 30px 80px;
}

section .productBox .content h2 {
    color: #4f5d50;
}

section .productBox .content h2 span {
    font-size: 0.9rem;
    font-weight: lighter;
    margin-left: 8rem;
}

section .productBox .content p {
   
    margin-top: 20px;
    line-height: 1.2em;
}

section .creditCardBox {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section .creditCardBox form {
    width: 60%;
}

section .creditCardBox .inputBox {
    margin-bottom: 20px;
}

section .creditCardBox .inputBox span {
    display: block;
    font-size: 0.75rem;
    color: #545871;
    margin-bottom: 2px;
}

section .creditCardBox .inputBox input,
section .creditCardBox .inputBox select {
    outline: none;
    width: 100%;
    padding: 5px 20px;
    border-radius: 40px;
    border: 1px solid #545871;
    font-size: 0.9rem;
    transition: 0.3s;
}

section .creditCardBox .inputBox input:focus,
section .creditCardBox .inputBox select:focus {
    background: #d6d9c5;
}


section .creditCardBox .flexbox {
    display: flex;
    gap: 15px;
}

section .creditCardBox .flexbox .inputBox {
    flex: 1 1 150px;
}

section .creditCardBox .checkoutBox {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

section .creditCardBox .checkoutBox .detail {
    width: 60%;
    
}

section .creditCardBox .checkoutBox .detail .product {
    display:flex;
    justify-content: space-between;
    line-height: 1.5rem;
    color: #545871;
    font-weight: lighter;
    letter-spacing: 0.8px;
}

section .creditCardBox .checkoutBox .detail p {
    font-size: 0.8rem;
    position: relative;
    left: 0;
}

section .creditCardBox .checkoutBox .detail h3 {
    margin-top: 5px;
    color: #4f5d50;
    font-weight: bold;
    text-align: end;
}

section .creditCardBox .checkoutBox .submitBtn {
    margin-top: 10px;
    width: 30%;
    outline: none;
    border: none;
    background: #a9b6a4;
    padding: 10px;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.3s;
    letter-spacing: 0.8px
}

section .creditCardBox .checkoutBox .submitBtn:hover {
    background: #4f5d50;
    color: white;
}

section .creditCardBox .cardBox {
    margin-bottom: 30px;
    position: relative;
    width: 350px;
    height: 220px;
    text-transform: uppercase;
}

section .creditCardBox .cardBox .front {
    background: #a9b6a4;
    padding: 30px 25px 20px 25px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    backface-visibility: hidden;
    transform: perspective(500px) rotate(0deg);
    transition: transform 0.4s ease-out ;
}

section .creditCardBox .cardBox .front .image{
    display: flex;
    align-self: center;
    justify-content: space-between;
}

section .creditCardBox .cardBox .front .image img {
    height: 40px;
}

section .creditCardBox .cardBox .front .cardNumberBox {
    padding: 30px 0 20px 0;
    color: #fff;
    font-size: 0.8rem;
    text-shadow: 0 0 2px rgba(0,0,0,0.2);
}

section .creditCardBox .cardBox .front .flexbox {
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 0.7rem;
    line-height: 1.2rem;
    text-shadow: 0 0 2px rgba(0,0,0,0.2);
}

section .creditCardBox .cardBox .back {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: #a9b6a4;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 25px 0;
    text-align: right;
    backface-visibility: hidden;
    transform: perspective(500px) rotateY(180deg);
    transition: transform 0.4s ease-out ;
}

section .creditCardBox .cardBox .back .stripe {
    background: black;
    width: 100%;
    margin: 10px 0;
    height: 30px;
}

section .creditCardBox .cardBox .back .box {
    padding: 0 20px;
}

section .creditCardBox .cardBox .back .box span {
    color: #4f5d50;
    font-size: 0.75rem;
}

section .creditCardBox .cardBox .back .box .cvvBox {
    height: 30px;
    padding: 10px;
    margin-top: 5px;
    color: #4f5d50;
    background: #fff;
    border-radius: 5px;
    width: 100%;
    font-size: 0.75rem;
}

section .creditCardBox .cardBox .back .box img {
    height: 30px;
    margin-top: 25px;
}