* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

section h2 {
    font-size: 8rem;
    letter-spacing: 1.2rem;
    opacity: 0.8;
    color: white;
    font-weight: bolder;
    text-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

section p {
    font-size: 2rem;
    margin-bottom: 40px;
    color: white;
    letter-spacing: 0.08rem;
}

section a {
    text-decoration: none;
    border-radius: 40px;
    background: #1d3871;
    padding: 15px 25px;
    color: white;
    cursor: pointer;
    letter-spacing: 0.08rem;
    transition: 0.5s;
}

section a:hover {
    background: #14cff0;
}

section video {
    z-index: -2;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}

section .overlay {
    z-index: -1;
    background: linear-gradient(135deg, #14cff0, #b82e5c);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: overlay;
}
