* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.sci {
    display: flex;
    gap: 40px;
    z-index: 2;
}

.sci li {
    list-style: none;
    border-radius: 30%;
}

.sci li::before {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    font-weight: 700;
    transition: 0.5s;
    opacity: 0;
    pointer-events: none;
}

.sci li:hover::before {
    opacity: 0.5;
    transform: translate(-50%, calc(-50% + 150px));

}

.sci li a {
    display: flex;
    width: 120px;
    height: 120px;
    background: #fff;
    justify-content: center;
    align-items: center;
    color: #333;
    border-radius: 30%;
    text-decoration: none;
    font-size: 1.5rem;
    box-shadow: 0 25px 35px rgba(0,0,0,0.2);
    transition: background 0.3s;
}

.sci li a:hover.facebook {
    background: linear-gradient(135deg,#1977f2, #4493fa);
}
.sci li a:hover.youtube {
    background: linear-gradient(135deg,#ff0000, #ff7171);
}
.sci li a:hover.twitter {
    background: linear-gradient(135deg,#0099ff, #79c7fa);
}
.sci li a:hover.instagram {
    background: linear-gradient(135deg,#c73378, #f87224);
}

.sci li a ion-icon {
    transition: 0.3s;
    pointer-events: none;
}

.sci li a:hover ion-icon {
    color: #fff;
    font-size: 3.5rem;
}


.overlay {  /*用來幫助背景transition，因漸變顏色不能transition*/
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgb(51, 51, 51);
    z-index: 1;
    transition: 1s;
}