* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #2c7088, #638d9b, #a3bdbf);;
}

form {
    border-radius: 20px;
}

.calculator {
    position: relative;
    background: linear-gradient(135deg, rgb(36, 36, 36), rgb(66, 66, 66));
    font-weight: 200;
    width: 320px;
    box-shadow: 10px 10px 50px rgba(0,0,0,0.5),
    10px 10px 80px rgba(0,0,0,0.3);
}

.calculator input {
    background: black;
    color: white;
}

.calculator .value {
    width: 100%;
    height: 100px;
    text-align: right;
    border: none;
    outline: none;
    padding: 2px 15px 2px 2px;
    font-size: 1.2rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}
.calculator .answer {
    width: 100%;
    height: 100px;
    text-align: right;
    border: none;
    outline: none;
    padding: 2px 15px 2px 2px;
    font-size: 18px;
    color: #67c9d0;
    font-weight: bold;
    font-size: 1.5rem;
}

.digitBox {
    display: grid;
    place-content: center;
    grid-template-columns: auto auto auto auto;
    column-gap: 5px;
    padding: 20px;
    background: rgb(48, 48, 48);
    border-radius: 20px;
}

.calculator span {
    display: grid;
    place-content: center;
    width: 60px;
    height: 60px;
    color: white;
    transition: 0.2s;
    cursor: pointer;
    border-radius: 10px;
    margin: 5px;
    background: rgba(0,0,0,0.1);
}

.calculator span:active {
    background: #638d9b;
}


.calculator span.clear {
    grid-column: 1 / 3;
    width: auto;
    background: #2c7088;
}

.calculator span.clear:active {
    background: #4f8cd6;
}

.calculator span.operator {
    color: rgb(249, 181, 92);
    font-weight: bold;
}

.background {
    filter: blur(20px);
    z-index: -1;
    position: absolute;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #2c7088, #638d9b, #a3bdbf);;
}

.background .color1 {
    position: absolute;
    top: 60px;
    left: 300px;
    width: 350px;
    height: 350px;
    background: linear-gradient(45deg,rgb(249, 181, 92), rgb(255, 112, 212) );
    border-radius: 50%;
}

.background .color2 {
    position: absolute;
    bottom: 10px;
    right: 200px;
    width: 400px;
    height: 400px;
    background: linear-gradient(45deg,rgb(67, 193, 243), rgb(255, 112, 212) );
    border-radius: 50%;
}


@media (max-width: 600px) {

    .background {
        overflow: hidden;
    }

    .calculator {
        width: 280px;
    }
    .calculator input {
        height: 60px;
    }

    .calculator span {
        width: 45px;
        height: 45px;
    }
}